@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: #141416;
  color: white;
}

.app {
  font-family: 'Lato', sans-serif;
  .coinApp {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    .coinSearch {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 20px auto;
      @media screen and (max-width: 768px){
        flex-direction: column;

      }
      @media screen and (max-width: 492px){
        flex-direction: column;
      }

      h1 {
        color: lightgray;
        @media screen and (max-width: 768px){
          margin: 20px auto;
        }
        @media screen and (max-width: 492px){
          margin: 20px auto;
        }
      }

      input {
        border: 1px solid lightgray;
        border-radius: 12px;
        padding: 10px 20px;
        width: auto;

        &::placeholder {
          color: lightgray;
        }
      }
    }
    .dataDesc {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70%;
      margin: 20px 0;
      margin-left: 30%;
      font-weight: 700;
      color: lightgray;

      @media screen and (max-width: 768px){
        width: 60%;
        margin-left: 40%;

      }
      @media screen and (max-width: 492px){
        width: 50%;
        margin-left: 50%;

      }

      .descVolume {
        @media screen and (max-width: 768px){
          display: none;
        }
        @media screen and (max-width: 492px){
          display: none;
        }
      }

      .descMarketCap {
        @media screen and (max-width: 492px){
          display: none;
        }
      }
    }
  }
}
